<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="category" class="com.lb.beanpost.Category">
        <property name="name" value="category"/>
        <property name="id" value="1"/>
    </bean>

    <bean id="myBeanPostPro" class="com.lb.beanpost.MyBeanPostPro"/>

</beans>